@use "global" as *;

.c-btn--contact {
    padding-top: rem(45);
    padding-bottom: rem(30);
    padding-left: rem(18);
    padding-right: rem(18);
    color: $white;
    background-color: $base;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: rem(11);
    opacity: 1;
    transition: all ease 0.6s;

    &:hover {
        opacity: 0.8;
        &:hover::after {
            transition: ease .8s;
            top: 40%;
        }
    }

    &:after {
        content: "";
        position: absolute;
        background-image: url(../images/common/mail-img.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: rem(24);
        height: rem(20);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        // display: inline-block;
    }
}
