@use "global" as *;

.c-btn {
  padding-top: rem(5);
  padding-bottom: rem(5);
  padding-left: rem(35);
  padding-right: rem(70);
  color: $black;
  border: 1px solid $black;
  border-radius: rem(15);
  position: relative;
  display: inline-block;
  font-size: rem(13);
  
  &:hover{
    color: $white;
    border: 1px solid $base;
    background-color: $base;
    transition: all .8s;
    
    &:hover:after{
    background-image: url(../images/common/btn-arrow.png);
    right: rem(5);
    transition: all .8s;

    }
  }
  &::after{
    content: "";
    position: absolute;
    background-image: url(../images/common/btn-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(35);
    height: rem(15);
    top: 50%;
    right: rem(30);
    transform: translateY(-30%);

    
  }
}
