@use "global" as *;

.c-btn--more-white {
	// max-width: rem(200);
	color: $white;
	position: relative;
	display: inline-block;


	&::before {
		content: "";
		position: absolute;
		background-image: url(/images/common/btn-arrow-type.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: rem(35);
		height: rem(15);
		top: 20%;
		right: -36px;
	}

	&::after {
		position: absolute;
		bottom: -4px;
		left: 0;
		content: "";
		width: 220px;
		height: 1px;
		background: $white;
		transform: scale(0, 1);
		transform-origin: left top;
		transition: transform 0.3s;
	}
	&:hover::after {
		transform: scale(1, 1);
	}
}
