@use "global" as *;

.c-section-title {
	h2 {
		font-size: rem(42);
		color: $base;
		letter-spacing: 0.07em;
		font-weight: $normal;

		@include mq() {
			font-size: rem(34);
			letter-spacing: 0.07em;
		}
	}
	p {
		font-size: rem(13);
		letter-spacing: 0.16em;
	}

	&--top{

		@include mq(){
			
			h2{
				font-size: 24px;
			}

			p {
				font-size: rem(11);
				letter-spacing: 0.16em;
			}
		}
	}
}



