@use "global" as *;

.c-section-title {

	h2 {
		font-size: rem(42);
		color: $base;
		letter-spacing: 0.2em;
		font-weight: $normal;

		@include mq(){
			font-size: rem(34);
		}

	}
	p {
		font-size: rem(13);
		letter-spacing: 0.16em;
	}
}
