<div class="l-footer p-footer">
  <div class="p-footer__content">
    <div class="p-footer__left">
      <%- include('../project/_p-footer-left') %>
    </div>
    <div class="p-footer__rigte">
      <%- include('../project/_p-footer-sitemap') %>
    </div>
  </div>
  <div class="copyright">
    <p><span>copyright</span><span>setokensetsu</span><span>All Right Reserved</span></p>
  </div>
  <div class="p-footr__to-top-btn">
    <%- include('../component/_c-to-top') %>
  </div>
</div>

  
