<div class="p-footer">
  <div class="p-footer__content">

    <div class="p-footer__left">
      <div class="p-footer__info">
        <div class="p-footer__subtitle">
          <p>総合解体業・残土処理・アスベスト調査</p>
        </div>
        <div class="p-footer__wrap">
          <div class="p-footer__logo">
            <img src="images/common/logo-white.png" alt="">
          </div>
          <div class="p-footer__co-name">
            <p><span>有限会社</span>瀬戸建設</p>
          </div>
        </div>
        <div class="p-footer__adress">
          <p><span>〒629-2232</span>京都府宮津市字中野58番地の1</p>
        </div>
        <div class="p-footer__tel">
          <p><span>TEL.0772-27-0257</span> FAX.0772-27-1756</p>
        </div>
        <div class="p-footer__mail">
          <p><span>mail</span>seto-327@amber.plala.co.jp</p>
        </div>
        <div class="p-footer__googlmap">
          <%- include('../component/_c-btn--more-white',{text:'Google Mapはこちら',link:'contact.html'}) %>
        </div>
      </div>
    </div>



    <div class="p-footer__right">
      <div class="p-footer__sitemap">
        <div class="p-footer__sitemap-title">
          <p>Site Map</p>
        </div>
        <div class="p-footer__sitemap-wrap">

          <ul class="p-footer__sitemap-left">
            <li><a href=""><span>Home</span></a></li>
            <li><a href=""><span>News</span>新着情報</a></li>
            <li><a href=""><span>Service</span>業務内容</a>
              <ul class="p-footer__sitemap-service-contents">
                <li><a href="">建造物の解体業務</a></li>
                <li><a href="">特殊解体業務</a></li>
                <li><a href="">残土処理・廃棄物等処分</a></li>
              </ul>
            </li>
          </ul>

          <ul class="p-footer__sitemap-right">
            <li><a href=""><span>Sensible</span>安心の施工体制</a></li>
            <li><a href=""><span>Works</span>施工事例</a></li>
            <li><a href=""><span>About Us</span>瀬戸建設について</a></li>
            <li><a href=""><span>Recruit</span>採用情報</a></li>
            <li><a href=""><span>Contact</span>お問い合わせ</a></li>
            <li><a href=""><span>Privacy policy</span>個人情報保護方針</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="p-footer__copyright">
    <p><span>copyright</span><span>setokensetsu</span><span>All Right Reserved</span></p>
  </div>
</div>


<div class="p-footr__to-top-btn">
  <%- include('../component/_c-to-top') %>
</div>