<div class="l-top-header p-top-header">
  <div class="p-top-header__inner">
    <div class="p-top-header__left">
      <h1 class="p-top-header__logo">
        <a href=""><img src="images/common/logo.png" alt=""></a>
      </h1>
      <div class="p-top-header__company-name">
        <p><span>有限会社</span>瀬戸建設</p>
      </div>
      <div class="p-top-header__adress">
        <p><span>京都府宮津市字中野58番地の1</span>Tel.0772-27-025</p>
      </div>
    </div>

    <div class="p-top-header__right">
      <nav class="p-top-header__nav">
        <%- include('../component/_c-header-nav')%>
      </nav>
      <div class="p-top-header__btn">
        <%- include('../component/_c-btn--contact',{text:'Contact',link:'contact.html'}) %>
      </div>
    </div>
  </div>
</div>