<div class="l-top-header p-top-header">
  <div class="p-top-header__inner">
    <div class="p-top-header__left">
      <h1 class="p-top-header__logo">
        <a href=""><img src="images/common/logo.png" alt=""></a>
      </h1>
      <div class="p-top-header__company-name">
        <a href="/">
          <p><span>有限会社</span>瀬戸建設</p>
        </a>

      </div>
      <div class="p-top-header__adress">
        <p class="adress">京都府宮津市字中野５８番地の１</p>
        <a href="tel:0120358504">
          <p class="tel">0120-358-504</p>
        </a>
      </div>
    </div>

    <div class="p-top-header__right">
      <nav class="p-top-header__nav">
        <%- include('../component/_c-header-nav')%>
      </nav>
    </div>
    <div class="p-top-header__btn">
      <%- include('../component/_c-btn--contact',{text:'Contact',link:'contact-page.html'}) %>
    </div>
  </div>
</div>

<%- include('../project/_p-header-drawer') %>