@use "global" as *;

.p-footer {
    background-color: $base;
    padding-top: rem(60);
    padding-block: rem(40);

    &__content {
        display: flex;
        width: 90%;
        margin-bottom: rem(45);
        margin: 0 auto;

        @include mq() {
            display: block;
        }
    }
    &__left {
        width: 50%;
        padding-left: 10%;

        @include mq() {
            width: 100%;
            padding-left: 0;
        }
    }

    &__info {
        font-family: $second-font-family;
        background-color: $base;
        color: $white;
        padding-right: 20px;

        @include mq() {
            padding-right: 0;
        }
    }
    &__subtitle {
        font-size: rem(13);
        margin-bottom: rem(12);
        letter-spacing: 0.07em;

        @include mq() {
            font-size: rem(11);
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        margin-bottom: rem(22);
        letter-spacing: 0.26em;
    }
    &__logo {
        width: rem(40);
        padding-right: rem(12);
        padding-right: rem(12);

        img {
        }
    }
    &__co-name {
        margin-bottom: rem(10);

        p {
            font-size: rem(26);
            @include mq() {
                font-size: rem(24);
            }
            span {
                font-size: rem(18);
                padding-right: rem(12);

                @include mq() {
                    font-size: rem(16);
                }
            }
        }
    }

    &__adress {
        margin-bottom: rem(10);
        letter-spacing: 0.13em;

        @include mq() {
            font-size: rem(13);
        }

        span {
            padding-right: rem(12);
        }
    }

    &__tel {
        margin-bottom: rem(10);
        letter-spacing: 0.13em;
        .free-num {
            font-size: 16px;

            &::before {
                display: inline-block;
                content: "";
                background-image: url(../images/common/white-free-tel.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
                margin-right: 5px;
                vertical-align: middle;
            }
        }
        p {
            font-size: 13px;
        }
    }
    &__mail {
        margin-bottom: rem(22);
        letter-spacing: 0.13em;

        @include mq() {
            font-size: rem(13);
        }

        span {
            padding-right: rem(12);
        }
    }

    &__googlmap {
        letter-spacing: 0.13em;
        text-align: center;

        @include mq() {
            text-align: start;
            font-size: 12px;
        }
    }

    &__right {
        width: 50%;
    }

    &__sitemap {
        background-color: $base;
        color: $white;

        @include mq() {
            display: none;
        }
    }
    &__sitemap-title {
        font-size: rem(13);
        letter-spacing: 0.29em;
        font-family: $second-font-family;
        padding-bottom: rem(10);
        margin-bottom: rem(20);
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 95%;
            height: 1px;
            background-color: $white;
            bottom: 0;
            left: 0;
        }

        p {
        }
    }

    &__sitemap-wrap {
        display: flex;
    }

    &__sitemap-left {
        li {
            font-size: rem(10);
            margin-bottom: rem(12);
            a {
                &:hover {
                    opacity: 0.6;
                }
            }
            span {
                font-size: rem(13);
                padding-right: rem(12);
            }
        }
    }
    &__sitemap-service-contents {
        margin-top: rem(10);
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 100%;
            background-color: $white;
            top: 0;
            left: 5px;
        }
        li {
            padding-left: rem(20);
            a {
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    &__sitemap-right {
        padding-left: 50px;
        li {
            font-size: rem(10);
            margin-bottom: rem(12);
            a {
                &:hover {
                    opacity: 0.6;
                }
            }
            span {
                font-size: rem(13);
                padding-right: rem(12);
            }
        }
    }

    &__copyright {
        color: $white;
        text-align: center;
        letter-spacing: 0.52em;
        opacity: 63%;
        font-size: rem(10);

        @include mq(){
            font-size: rem(9);
            letter-spacing: 0.2em;
            }

        span {
            padding-right: rem(15);

            @include mq(){
                padding-right: rem(10);

            }
        }
    }
}
