@use "global" as *;

.p-about-idea {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq() {
            flex-direction: column;
        }
    }
    &__img {
        flex: 0.9;
        height: 380px;

        @include mq() {
            width: 100%;
        }

        img {
            height: 166px;
            object-fit: cover;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-left: 30px;
        flex: 1.1;
        height: 380px;
        writing-mode: vertical-rl;
      

        @include mq() {
            flex: none;
            writing-mode: horizontal-tb;
            justify-content: flex-start;
            position: relative;
            padding-left: 15px;
        }

        h2 {
            font-size: rem(41);
            color: $base;
            margin-left: 50px;
            font-weight: $normal;

            @include mq() {
                writing-mode: vertical-lr;
                // height: 120px;
                position: absolute;
                top: -12px;
                right: 0;
                margin-left: 0px;
                font-size: rem(24);
            }
        }
        span {
            font-size: rem(21);
            margin-left: 50px;
            display: block;
            letter-spacing: 0.16em;

            @include mq() {
                // writing-mode: horizontal-tb;
                font-size: rem(16);
                margin-left: 0;
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
        p {
            font-size: rem(14);
            letter-spacing: 0.08em;
            line-height: 1.8;

            @include mq() {
                // writing-mode: horizontal-tb;
                width: 90%;
            }
        }
        .name {
            text-align: end;
            @include mq() {
                margin-top: 45px;

            }
        }
    }
}
