@use "global" as *;
.p-footer-sitemap {
    width: 100%;
    max-width: rem(420);
    background-color: $base;
    color: $white;

    &__title {
        font-size: rem(13);
        letter-spacing: 0.29em;
        font-family: $second-font-family;
        padding-bottom: rem(10);
        margin-bottom: rem(20);
        border-bottom: 1px solid $white;

        p {
        }
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__left {
        li {
            font-size: rem(10);
            margin-bottom: rem(12);
            span {
                font-size: rem(13);
                padding-right: rem(12);
            
            }
            
        }
    }
    &__service-contents{
        margin-top: rem(10);
        position: relative;

        &::before{
            position: absolute;
            content: "";
            width: 1px;
            height: rem(70);
            background-color: $white;
            top: 0;
            left: 10px;

        }
        li{
            padding-left: rem(20);
            
        }
    }


    &__right {
        li {
            font-size: rem(10);
            margin-bottom: rem(12);
            span {
                font-size: rem(13);
                padding-right: rem(12);
            }
        }
    }
}
