@use "global" as *;

.p-senseble-sdgs {
    &__inner {
        width: 850px;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;

        @include mq() {
            // max-width: 80%;
            // margin: 0 auto;
        }
    }
    &__title {
        font-size: rem(32);
        color: $base;
        letter-spacing: 0.21em;
        text-align: center;
        margin-bottom: 60px;

        @include mq() {
            font-size: 18px;
        }
    }
    &__sub-title {
        font-size: rem(20);
        letter-spacing: 0.16em;
        margin-bottom: 25px;
        text-align: center;

        @include mq() {
            font-size: 16px;
        }
        .red{
            color: rgb(224, 53, 53);
        }
        
    }
    &__logo {
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 56px;

        @include mq(){
            width: 250px;
        }

        img {
        }
    }

    &__text01 {
        font-size: rem(15);
        letter-spacing: 0.05em;
        line-height: 1.77;
        margin-bottom: 40px;

        span{
            color: $base;
        }

        @include mq(){
            font-size: 13px;
        }
    }
    &__text02 {
        font-size: rem(15);
        letter-spacing: 0.05em;
        line-height: 1.77;
        margin-bottom: 100px;

        @include mq(){
            font-size: 13px;
            margin-bottom: 50px;
        }
    }

    // sdgs-icon*4

    &__contents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10%;

        @include mq() {
            display: flex;
            flex-direction: column;
            
        }
    }

    &__content {
        // width: 45%;

        @include mq() {
            display: flex;
            align-items: flex-start;
            width: 100%;
        }
    }
    &__content-icon {
        width: 162px;
        margin: 0 auto;
        margin-bottom: 25px;

        @include mq() {
            flex: 0.65;
            margin-bottom: 40px;
        }

        img {
        }
    }

    &__wrap {
        @include mq() {
            flex: 1;
            padding-left: 20px;
        }
    }
    &__content-title {
        font-size: rem(19);
        letter-spacing: 0.05em;
        padding-bottom: 20px;

        @include mq() {
            font-size: rem(12);
        letter-spacing: 0.03em;

        }
    }
    &__content-text {
        font-size: rem(15);
        letter-spacing: 0.08em;
        line-height: 1.6;

        @include mq() {
            font-size: rem(10);
        }
    }
}
