@use "global" as *;

.p-service01 {
    margin-top: rem(70);
    margin-bottom: rem(95);

    &__content {
        margin-bottom: rem(95);

        display: flex;
        align-items: center;

        @include mq() {
            flex-direction: column-reverse;
            
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
            padding-right: 100px;

            @include mq() {
                padding-right: 0px;
                flex-direction: column-reverse;
            }
        }
        &:nth-child(odd) {
            padding-left: 120px;

            @include mq() {
                padding-left: 0px;
            }
        }
    }

    &__text-box {
        width: 50%;
        padding: 0 50px;

        @include mq() {
            width: 100%;
            padding: 0;
        }
    }
    &__title {
        font-size: rem(26);
        margin-bottom: rem(32);
        letter-spacing: 0.08em;
        display: inline-block;

        @include mq() {
            display: block;
            text-align: center;
            font-size: 16px;
            margin-bottom: 25px;
        }
    }
    h3 {
        position: relative;
        font-weight: $normal;
        &::after {
            content: "";
            display: block;
            width: 140px;
            height: 10px;
            background-color: $bg;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
    &__sub-title {
        margin-bottom: rem(32);
        letter-spacing: 0.05em;

        @include mq() {
            font-size: 14px;
            text-align: center;
            margin-bottom: 25px;

        }
    }
    &__text {
        font-size: rem(14);
        letter-spacing: 0.05em;
        line-height: 1.964;

        @include mq() {
            font-size: 13px;
            padding-right: 15px;
            padding-left: 15px;

        }
    }
    &__img {
        width: 50%;
        padding-top: 30%;
        position: relative;
        margin-left: 0 calc(50% - 50vw);


        @include mq() {
            margin: 0 calc(50% - 50vw);
            width: 100%;
            padding-top: 60%;
            width: 100vw;
            margin-bottom: 35px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
