@use "global" as *;
.p-sdgs-layout {
    padding-left: $padding-pc;
    padding-right: $padding-pc;

    &__inner {
    }
    &__declaration {
        font-size: rem(34);
        letter-spacing: 0.2em;
        line-height: 1.5;
        writing-mode: vertical-rl;
        color: $base;
        position: relative;
        bottom:-10vw;
        left: 80vw;

        p{

        }


    }
    &__contents {
        width: 1080px;
        max-width: 100%;
        margin: 0 auto;
    }
    &__content {
        display: flex;
        position: relative;
        align-items: end;
        &:not(:last-child) {
            margin-bottom: 105px;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
    &__img {
        display: block;
        width: 50%;
        height: 100%;
    }
    &__text-box {
        width: 65%;
        margin-left: -70px;
        color: $white;
        padding: 45px;
        position: relative;
        top: 40px;
        margin-right: calc(50% - 50vw);
        background-color: rgba(0, 147, 130, 0.47);

        // &::before {
        //     content: "";
        //     position: absolute;
        //     transform: rotate(-35deg);
        //     width: 70px;
        //     height: 25px;
        //     background-color: transparent;
        //     top: -10px;
        //     left: -25px;
        //     border-bottom: 1px solid #aaa;
        // }

        span {
            position: absolute;
            display: block;
            content: "";
            top: 5px;
            left: 5px;
            font-size: rem(60);
        }
    }
    &__title {
        margin-bottom: 25px;
        text-align: center;
        font-size: rem(27);
    }
    &__text {
        letter-spacing: 0.05em;
        font-size: rem(14);
        line-height: 1.786;
    }
}
