@use "global" as *;

.p-service02 {
    margin-top: rem(70);
    margin-bottom: rem(95);

    &__content {
        display: flex;
        align-items: center;
        margin-bottom: rem(95);

        @include mq() {
            display: block;
        }


        &:nth-child(even) {
            flex-direction: row-reverse;
            padding: 50px 70px;

            @include mq(){
                padding: 10px;
            }
        }
        &:nth-child(odd) {
            padding-left: 120px;

            @include mq(){
                padding-left: 0px;
            }
        }
    }
    &__content-wrap {
        margin-bottom: rem(95);
        background-color: $bg;
    }

    &__content--asbest {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 32px;

        @include mq(){
        flex-direction: column-reverse;
        }
    }

    &__text-box {
        width: 50%;
        padding: 0 50px;

        @include mq(){
            width: 100%;
            padding: 0 ;
        }
    }
    &__text-box--asbest,
    &__text-box--dioxin {
        width: 60%;
        padding: 0 50px;

        @include mq(){
            width: 100%;
            padding: 0 ;
        }
    }
    &__title {
        font-size: rem(26);
        margin-bottom: rem(32);
        letter-spacing: 0.08em;

        @include mq(){
            display: block;
            text-align: center;
        }

        h3 {
            position: relative;
            display: inline-block;
            &::after {
                content: "";
                display: block;
                width: 140px;
                height: 10px;
                background-color: $bg;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
            }
        }
    }
    &__sub-title {
        margin-bottom: rem(32);
        letter-spacing: 0.05em;
        color: $base;
        font-size: rem(18);
    }
    &__text {
        font-size: rem(14);
        letter-spacing: 0.05em;
        line-height: 1.964;
    }

    &__content-wrap {
        padding-bottom: 32px;
        padding-top: 62px;
    }
    &__content--asbest {
        width: 90%;
        margin: 0 auto 32px;
    }

    &__text02 {
        font-size: rem(18);
        letter-spacing: 0.05em;
        line-height: 1.964;
        position: relative;
        text-align: center;
        border: 1px solid $black;
        width: 100%;
        padding: 15px 0;
        border-left: none;
        border-right: none;
        position: relative;
        margin-bottom: rem(28);
        letter-spacing: 0.05em;
        width: 90%;
        margin: 0 auto;

        span{
            color: $base;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.5px;
            top: -5px;
            left: 0;
            background-color: $black;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.5px;
            bottom: -5px;
            left: 0;
            background-color: $black;
        }
    }

    &__img {
        width: 50%;
        padding-top: 30%;
        position: relative;

        @include mq(){
            width: 100%;
            padding-top: 60%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content--dioxin {
        background-color: $bg;
        padding-bottom: 62px;
        padding-top: 62px;
        justify-content: center;
    }
    &__img--asbest,
    &__img--dioxin {
        width: 40%;
        padding-top: 30%;
        position: relative;

        @include mq(){
            width: 100%;
            padding-top: 60%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
