@use "global" as *;
.p-sdgs-layout {

    width: 98%;
    margin: 0 auto;

    &__inner {
        @include mq() {
            margin-top: 150px;
        }
    }
    &__declaration {
        font-size: rem(34);
        letter-spacing: 0.2em;
        line-height: 1.5;
        writing-mode: vertical-rl;
        color: $base;
        position: relative;
        bottom: -10vw;
        left: 80vw;

        @include mq() {
            writing-mode: revert;
            position: static;
            text-align: center;
        }

        p {
        }
    }
    &__contents {
        width: 1080px;
        max-width: 100%;
        margin: 0 auto;
    }
    &__content {
        display: flex;
        position: relative;
        align-items: end;

        &:not(:last-child) {
            margin-bottom: 105px;

            @include mq() {
                margin-bottom: 180px;
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            
        }
    }
    
    &__img {
        display: block;
        width: 55%;
        height: 100%;
        position: relative;

        @include mq() {
            width: 80%;
        }
    }
    &__text-box {
        width: 65%;
        color: $white;
        padding: 45px;
        position: relative;
        top: 40px;
        right: -10px;
        margin-right: calc(50% - 50vw);
        background-color: rgba(0, 147, 130, 0.47);

        @include mq() {
            position: absolute;
            top: 50%;
            left: 10%;
            width: 80%;
            padding: 20px;
        }

        &:nth-child(even) {
            margin-left: calc(50% - 50vw);
        }

        span {
            position: absolute;
            display: block;
            content: "";
            top: 5px;
            left: 5px;
            font-size: rem(60);

            @include mq() {
                font-size: rem(30);
            }
        }
    }
    &__title {
        margin-bottom: 25px;
        text-align: center;
        font-size: rem(27);
        p {
            @include mq() {
                font-size: 18px;
                padding: 0 20px;
            }
        }
    }
    &__text {
        letter-spacing: 0.05em;
        font-size: rem(14);
        line-height: 1.786;

        @include mq() {
            font-size: rem(12);
        }
    }
}
