@use "global" as *;
.tabContent {
    display: flex;
    flex-wrap: wrap;
}
.tabContent::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    order: -1;
    background: #e2bd20;
}
.tabContent .tabContent__label {
    margin-right: 3px;
    padding: 3px 12px;
    flex: 1;
    order: -1;
    border-radius: 3px 3px 0 0;
    color: #fff;
    background: #444;
    cursor: pointer;
}
.tabContent .tabContent__label:nth-last-of-type(1) {
    margin-right: 0;
}
.tabContent input {
    display: none;
}
.tabContent .tabContent__main {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
}
.tabContent input:checked + .tabContent__label {
    color: #fff;
    background: #e2bd20;
}
.tabContent input:checked + .tabContent__label + .tabContent__main {
    overflow: auto;
    padding: 15px;
    height: auto;
    // border: 2px solid #e2bd20;
    transition: 0.5s opacity;
    opacity: 1;
}
