@use "global" as *;

.p-service03 {
    margin-top: rem(70);
    margin-bottom: rem(95);

    &__content {
        display: flex;
        align-items: center;
        margin-bottom: rem(95);
        @include mq() {
            flex-direction: column-reverse;
        }

        ul {
            font-size: rem(12);
            border-left: 3px double $black;
            margin-left: 40xp;
            display: inline-block;

            li {
                position: relative;
                padding-left: 25px;

                &::before {
                    content: "";
                    width: 6px;
                    height: 6px;
                    display: inline-block;
                    background-color: $base;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 15px;
                }

                &:not(:last-child) {
                    margin-bottom: rem(10);
                }
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
            padding-right: 100px;

            @include mq() {
                padding-right: 0px;
                flex-direction: column-reverse;
            }
        }
        &:nth-child(odd) {
            padding-left: 120px;

            @include mq() {
                padding-left: 0px;
            }
        }
    }

    &__text-box {
        width: 50%;
        padding: 0 50px;

        @include mq() {
            width: 100%;
            padding: 20px 10px 10px 10px;
        }
    }
    &__title {
        font-size: rem(26);
        margin-bottom: rem(32);
        letter-spacing: 0.08em;
        display: inline-block;

        @include mq() {
            display: block;
            text-align: center;
        }
    }
    h3 {
        position: relative;

        @include mq() {
            font-size: 16px;
            font-weight: $normal;
        }
        &::after {
            content: "";
            display: block;
            width: 140px;
            height: 10px;
            background-color: $bg;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
    &__sub-title {
        margin-bottom: rem(32);
        letter-spacing: 0.05em;
    }
    &__text {
        font-size: rem(14);
        letter-spacing: 0.05em;
        line-height: 1.964;
        margin-bottom: 30px;

        @include mq(){
            font-size: 13px;
        }
    }
    &__text02 {
        font-size: rem(14);
        letter-spacing: 0.05em;
        line-height: 1.964;
        text-align: center;
        border: 1px solid $black;
        width: 100%;
        padding: 15px 0;
        border-left: none;
        border-right: none;
        position: relative;
        margin-bottom: rem(28);
        letter-spacing: 0.05em;

        @include mq(){
            font-size: 13px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.5px;
            top: -5px;
            left: 0;
            background-color: $black;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.5px;
            bottom: -5px;
            left: 0;
            background-color: $black;
        }
    }
    &__text03 {
        font-size: rem(14);
        letter-spacing: 0.05em;
        line-height: 1.964;

        @include mq(){
            font-size: 13px;
        }
    }
    &__img {
        width: 50%;
        padding-top: 30%;
        position: relative;

        @include mq() {
            width: 100%;
            padding-top: 60%;
            margin: 0 calc(50% - 50vw);
            width: 100vw;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
