@use "global" as *;
.p-top-works {
    &__title {
        margin-bottom: rem(50);
        text-align: center;
    }
    &__text {
        text-align: center;
        margin-bottom: rem(35);
        font-size: rem(15);
        letter-spacing: 0.05em;
        
        @include mq() {
            text-align: start;
        }
    }
    &__cards {
        margin-bottom: rem(60);
    }
    &__btn {
        text-align: center;
    }
}
