@use "global" as *;
.p-top-header {
    
    
    
    &__inner {
        
        padding-left: $padding-pc;
        display: flex;
        justify-content: space-between;
        width: 100%;
        // max-width: rem(1440);
        margin-left: auto;
        
        
    }
    &__left{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      
        
    }

    &__logo {
        width: rem(40);
        padding-right: rem(10);
    }
    &__company-name {
        font-size: rem(22);
        font-weight: $bold;
        padding-right: rem(20);

        span {
            font-size: rem(18);
            padding-right: rem(10);
        }
    }

    &__right{
        display: flex;
        // flex-wrap: wrap;
        align-items: center;

    }
    &__adress {
        span {
            font-size: rem(13);
            padding-right: rem(10);
        }
    }
    &__nav {
        margin-left: auto;
    }
    &__btn {
    }
}
