@use "global" as *;
.p-top-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: $white;
    width: 100%;
    
    @include mq(md) {
        height: 60px;
        line-height: 60px;
    }
    &__inner {
        padding-left: $padding-pc;
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include mq() {
            padding-left: 10px;
        }
    }
    &__left {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // margin-left: auto;
    }

    &__logo {
        width: rem(40);
        padding-right: rem(10);
    }
    &__company-name {
        font-size: rem(22);
        font-family: $second-font-family;
        font-weight: $bold;
        padding-right: rem(20);
        @include mq() {
            font-size: rem(18);
        }

        span {
            font-size: rem(18);
            padding-right: rem(10);
            @include mq() {
                font-size: rem(13);
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        padding-left: 240px;
        // position: relative;
        // left: 150px;
        

        @include mq(md) {
            display: none;
        }
    }
    &__adress {
        vertical-align: middle;
        font-size: rem(14);


        .tel,
        .adress {
            display: inline-block;
            @include mq(md) {
                display: none;
            }
        }
        .tel {
            margin-left: 30px;
            position: relative;
            font-size: 20px;
            @include mq() {
                display: none;
            }
            &::before {
                content: "";
                display: inline-block;
                background-image: url(../images/common/black-free-tel.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 23px;
                height: 23px;
                position: absolute;
                left: -25px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        span {
            font-size: rem(13);
            padding-right: rem(30);
        }
    }
    &__nav {
        margin-left: auto;
    }
    &__btn {
        @include mq(md) {
            display: none;
        }
    }
}
