<div class="p-about-idea">
    <div class="p-about-idea__inner">
        <figure class="p-about-idea__img">
            <img src="images/common/about02.jpg" alt="">
        </figure>
        <div class="p-about-idea__text">
            <h2>ごあいさつ</h2>
            <span>生まれ変わる地域のために…<br>
                「未来へ活きる解体」で、<br>
                新たに美しい街を創造します</span>
            <p>近畿北部、丹後地方は美しい海と広大な山々に囲まれ、人々の暮らしも、様々な産業も自然環境の恩恵を受け、密接に共存しながら歴史を刻んでまいりました。
                そんな愛すべきこの街も、地方都市が抱える問題である急速な人口減少、少子高齢化の波を受け、今や空き家の増加は避けられず、ここに暮らす人々、街の将来に不安と様々な課題を突き付けています。
                その中で総合解体業に携わる私たちが担うべき使命は今より豊かな未来像を創造し、地域環境の保全へと繋げてゆく事だと考えます。
                私たちの業務は今まであった建造物を解体し、廃棄物を処理する仕事です。「未来へ活きる解体」を通して新たな街づくりに貢献します。</p>
                <p class="name">代表取締役　瀬戸 ゆかり</p>
        </div>
    </div>
</div>
