<div class="p-banner">
    <div class="p-banner__wrap">
        <a href="">
            <img src="images/common/contact.jpg" alt="">
            <p>Contact<span>お問い合わせ</span></p>
        </a>
    </div>

    <div class="p-banner__wrap">
        <a href="">
            <img src="images/common/recruit.jpg" alt="">
            <p>Recruit<span>採用情報</span></p>
        </a>
    </div>
</div>

        
    