<div class="p-banner">
        <a href="contact-page.html" class="p-banner__wrap">
            <img src="images/common/contact.jpg" alt="">
            <p>Contact<span>お問い合わせ</span></p>
        </a>
    

        <a href="recruit-page.html"class="p-banner__wrap" >
            <img src="images/common/recruit.jpg" alt="">
            <p>Recruit<span>採用情報</span></p>
        </a>

</div>
        
    