<div class="p-banner">
    <div class="p-banner-img">
        <img src="images/common/contact.jpg" alt="">
    </div>
    <div class="p-banner-text">
        <p>Contact</p>
        <span>お問い合わせ</span>
    </div>
</div>