<div class="p-footer-left">
    <div class="p-footer-left__subtitle">
        <p>総合解体業・残土処理・アスベスト調査</p>
    </div>
    <div class="p-footer-left__wrap">
        <div class="p-footer-left__logo">
            <img src="images/common/logo-white.png" alt="">
        </div>
        <div class="p-footer-left__co-name">
            <p><span>有限会社</span>瀬戸建設</p>
        </div>
    </div>
    <div class="p-footer-left__adress">
        <p><span>〒629-2232</span>京都府宮津市字中野58番地の1</p>
    </div>
    <div class="p-footer-left__tel">
        <p><span>TEL.0772-27-0257</span> FAX.0772-27-1756</p>
    </div>
    <div class="p-footer-left__mail">
        <p><span>mail</span>seto-327@amber.plala.co.jp</p>
    </div>
    <div class="p-footer-left__googlmap">
        <%- include('../component/_c-btn--more-white',{text:'Google Mapはこちら',link:'contact.html'}) %>
    </div>
</div>
