<!-- drawer_menu -->

<!-- ハンバーガーアイコン -->
<div class="p-header-drawer__icon js-header-drawer__icon">
    <div class="p-heder-drawer_icon-bars">
        <span class="icon__bar1"></span>
        <span class="icon__bar2"></span>
        <span class="icon__bar3"></span>
    </div>
</div>


<!-- ドロワーメニュー -->
<nav class="p-header-drawer__content js-header-drawer__content">
    <div class="p-header-drawer__logo-wrap">
        <h1 class="p-top-header__logo">
            <a href="/"><img src="images/common/logo-white.png" alt=""></a>
        </h1>
        <div class="p-top-header__company-name">
            <a href="/">
                <p><span>有限会社</span>瀬戸建設</p>
            </a>
        </div>
    </div>

    <ul class="p-header-drawer__content_items js-header-drawer__content_items">
        <li class="drawer__content_item"><a href="/">Home</a></li>
        <li class="drawer__content_item"><a href="news-archive.html">新着情報</a></li>
        <li class="drawer__content_item"><a href="#">業務内容</a>
            <ul>
                <li><a href="service-page01.html">- 建造物の解体業務</a></li>
                <li><a href="service-page02.html">- 特殊解体業務</a></li>
                <li><a href="service-page03.html">- 残土処理・廃棄物等処理</a></li>
            </ul>
        </li>
        <li class="drawer__content_item"><a href="#">安心の施工体制</a>
            <ul>
                <li><a href="sensible-page.html#sensible">- 安心の施工体制</a></li>
                <li><a href="sensible-page.html#sdgs">- SDGsへの取り組み</a></li>
            </ul>
        </li>
        <li class="drawer__content_item"><a href="works-archive.html">施工事例</a></li>
        <li class="drawer__content_item"><a href="about-page.html">戸田建設について</a></li>
        <li class="drawer__content_item"><a href="recruit-page.html">採用募集</a></li>
        <li class="drawer__content_item"><a href="privacy-policy-page.html">個人情報保護方針</a></li>
        <!-- <li class="drawer__content_item"><a href="#contact">CONTACT</a></li> -->
    </ul>
    <div class="p-header-drawer__info">
        <p class="p-header-drawer__co-name"><span>有限会社</span>瀬戸建設</p>
        <p class="p-header-drawer__adress">京都府宮津市字中野５８番地の１</p>
        <p class="p-header-drawer__tel">TEL.0722-27-0257</p>
    </div>
</nav>


</header>
<!-- header -->