<div class="p-mv">
    <div class="p-mv__inner">

        
        <div class="swiper js-mv-slider p-mv__slider">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide ">
                    <div class="p-mv__slider-img">
                        <img src="images/common/mv-pc01.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="p-mv__slider-img">
                        <img src="images/common/mv-pc02.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="p-mv__slider-img">
                        <img src="images/common/mv-pc03.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="p-mv__title">
            <h2><span>解体から未来へ•••<br></span>移りゆく街の<br>明日をつくる。</h2>
        </div>

        <div class="p-mv__recruit">
            <div class="p-mv__recruit-en-title">
                <span>Recruit</span>
            </div>
            <div class="p-mv__recruit-ja-title">
                <p>未経験者も大歓迎！正社員募集中</p>
            </div>
            <div class="p-mv__recruit-text">
                <p>瀬戸建設では、わたしたちと一緒に働いて下さる方を<br>
                    募集しております。詳細はお気軽にお問い合わせ下さい！</p>
            </div>
            <div class="p-mv__recruit-btn">
                <%- include('../component/_c-btn',{text:'採用情報ページ',link:'recruit.html'}) %>
            </div>
        </div>
    </div>
</div> 