<div class="p-mv-slider">
    <div class="p-mv-slider__title">
        <h2><span>解体から未来へ・・・<br></span>移りゆく街の<br>明日をつくる。</h2>
    </div>
    <div class="p-mv-slider__img">
        <img src="images/common/pc-mv01.jpg" alt="">
    </div>

</div>