<div class="p-news-single l-inner">
    <div class="p-news-single__contents">

        <div class="p-news-single__inner ">
            <div class="p-works-single__meta">
                <span class="p-works-single__date">2022.5.24</span>
                <span class="p-works-single__tag">ニュース</span>
                <div class="p-works-single__title">
                    <p>ホームページが完成しました。</p>
                </div>
            </div>
            <figure class="p-news-single__img">
                <img src="images/common/news.jpg" alt="">
            </figure>
            <div class="p-news-single__text">
                <p>有限会社 瀬戸建設のホームページをご覧いただきありがとうございます。
                    この5月、ホームページが完成いたしました。
                    今後ともコンテンツ・内容の充実を図るとともに、わかりやすく、楽しく最新情報を発信
                    してまいりますので、よろしくお願い申し上げます。</p>
            </div>
        </div>
        <!--サイドバー -->
        <div class="p-news-single__sidebar">
            <div class="p-news-single__sidebar-inner">
                <div class="p-news-single__sidebar-content">
                    <div class="p-news-single__sidebar-title">
                        <p>新着記事</p>
                    </div>
                    <div class="p-news-single__sidebar-link">
                        <a href="">ホームページがリニューアル!</a>
                    </div>
                </div>
                <div class="p-news-single__sidebar-content">
                    <div class="p-news-single__sidebar-title">
                        <p>カゴデリー</p>
                    </div>
                    <div class="p-news-single__sidebar-link">
                        <a href="">> ニュース</a>
                        <a href="">> ブログ</a>
                    </div>
                </div>
                <div class="p-news-single__sidebar-content">
                    <div class="p-news-single__sidebar-title">
                        <p>アーカイブ</p>
                    </div>
                    <div class="p-news-single__sidebar-link">
                        <a href="">>　2022年5月(1)</a>
                        <a href="">>　2022年5月(1)</a>
                        <a href="">>　2022年5月(1)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-news-single__btn">
        <%- include('../component/_c-btn',{text:'一覧ページへ',link:'news-archive.html'}) %>
    </div>
</div>