<div class="privacy-policy-page">
    <div class="privacy-policy-page__inner l-inner">
        <div class="privacy-policy-page__title">
            <%- include('../component/_c-section-title',{egTitle:'Privacy policy',jaTitle:'個人情報保護方針'}) %>
        </div>
        <div class="privacy-policy-page__sub-title">
            <p>有限会社 瀬戸建設は、以下のとおりプライバシーポリシーを定め、遵守いたします。</p>
        </div>
        <div class="privacy-policy-page__item">
            <h2>1. 個人情報の保護についての考え方</h2>
            <p>弊社では、業務を円滑に行うため、お客様の氏名、住所、電話番号、電子メールアドレス等の情報を取得・利用させていただくことがあります。弊社は、これらのお客様の個人情報の適正な保護を大切な責務と認識し、この責務を果たすために、下記の方針のもとで個人情報を取り扱います。
            </p>
            <p>
            <ul>
                <li>・「個人情報の保護に関する法律」その他の関係法令を遵守するとともに、一般に公正妥当と認められる個人情報の取り扱いに関する慣行に準拠し適切に取り扱います。</li>
                <li>・個人情報の取り扱いに関する規程を明確にし、従業員に周知徹底いたします。また、取引先等に対しても適切に個人情報を取り扱うように要請します。</li>
                <li>・個人情報の取得に際しては、利用目的を特定して通知または公表し、その利用目的に従って個人情報を取り扱います。</li>
                <li>・個人情報の漏洩、紛失、改ざん等を防止するため、必要な対策を講じて適切な管理を行います。</li>
                <li>・保有する個人情報について、お客様本人からの開示、訂正、削除、利用停止の依頼に、誠意をもって対応いたします。</li>
            </ul>
            </p>
        </div>
        <div class="privacy-policy-page__item">
            <h2>2. 個人情報の取得と利用及び提供</h2>
            <p>弊社は取得目的を明確にした上で、目的の範囲内に限り、個人情報を取得します。また個人情報の利用及び提供は、その取得目的から逸脱しない範囲とします。目的外利用は行いません。</p>

        </div>
        <div class="privacy-policy-page__item">
            <h2>3.個人情報の管理と保護</h2>
            <p>個人情報の管理は、厳重に行うこととし、お客さまにご承諾いただいた場合を除き、第三者に対しデータを開示・提供することはいたしません。また個人情報に関する漏えい、滅失又はき損を防ぐための適切な予防並びに是正処置を行います。
            </p>
        </div>
        <div class="privacy-policy-page__item">
            <h2>4. 第三者への開示と提供</h2>
            <p>弊社は、外部委託先への提供の場合及び以下のいずれかに該当する場合を除き、個人情報を第三者へ開示・提供はいたしません。</p>
            <p>
            <ul>
                <li>・お客様ご本人の同意がある場合</li>
                <li>・法令に基づき開示・提供を求められた場合</li>
                <li>・人の生命、身体または財産の保護のために必要な場合であって、お客様の同意を得ることが困難である場合</li>
                <li>・国または地方公共団体等が公的な事務を実施する上で、協力する必要があり、お客様の同意を得ることにより当該事務の遂行に支障を及ぼす恐れがある場合</li>
            </ul>
            </p>
        </div>
        <div class="privacy-policy-page__item">
            <h2>5. 情報開示</h2>
            <p>弊社の保有する個人情報に関して、お客様ご自身の情報の開示を希望される場合には、お客様ご本人であることを確認した上で、必要な範囲で回答いたします。</p>
        </div>
        <div class="privacy-policy-page__item">
            <h2>6. 訂正・削除等</h2>
            <p>弊社の保有する個人情報に関して、お客様ご自身の情報について、訂正、追加または削除を希望される場合には、ご本人であることを確認した上で、事実と異なる内容があった場合には、情報の訂正、追加または削除を行います。
            </p>
            <p>※ これらの情報の一部または全部を削除した場合、サービスの提供ができなくなることがありますので、ご理解とご協力を賜りますようお願い申しあげます。なお、関係法令に基づき保有しております情報については、お申し出には応じられない場合があります。
            </p>

        </div>
        <div class="privacy-policy-page__item">
            <h2>7. 個人情報についての問い合わせ先</h2>
            <p>弊社の個人情報の取り扱いに関するお問い合わせはメールフォームよりお願いいたします。</p>
        </div>
    </div>
</div>