<div class="p-recruit-page">
    <div class="p-recruit-page_sub-hero">
        <%- include('../project/_p-sub-hero--recruit') %>
    </div>
    <div class="p-recruit-page__inner l-inner">
        <div class="p-sub-head--recruit__title">
            <%- include('../project/_p-sub-head--recruit') %>
        </div>
        <div class="p-recruit-page__sub-title">
            <p>募集要項</p>
        </div>
        <div class="p-recruit-page__table">
            <dl>
                <dt>職　　種</dt>
                <dd>
                    <p>運転手兼現場作業員</p>
                    <p>　(大型兼4t車/4t車/3t車）</p>
                    <p>解体・土木工事現場での現場作業・運搬・重機操縦</p>
                    <p>※詳細は面接時にご説明致します。</p>
                </dd>
            </dl>
            <dl>
                <dt>資　　格</dt>
                <dd>
                    <p>16歳以上</p>
                    <p>準中型自動車免許、中型自動車免許、大型自動車免許の
                        いすれかが必要となります。</p>
                    <p>※オペレーター経験のある方優遇</p>
                    <p>　有資格者優遇、経験者優遇</p>
                </dd>
            </dl>
            <dl>
                <dt>給　　与</dt>
                <dd>
                    <p>250,000 円~ 350,000 万円</p>
                    <p>※その他手当あり</p>
                    <p>※資格や経験や能力により応相談</p>
                </dd>
            </dl>
            <dl>
                <dt>勤務時間</dt>
                <dd>8：00～17：00</dd>
            </dl>
            <dl>
                <dt>休日休暇</dt>
                <dd>隔週土曜日、日曜日、祝日、ＧＷ、夏期、冬季</dd>
            </dl>
            <dl>
                <dt>待　　遇</dt>
                <dd>
                    <p>昇給有、賞与有、各種社会保険完備、作業服貸与</p>
                    <p>自転車通勤可</p>
                </dd>
            </dl>
            <dl>
                <dt>勤務地</dt>
                <dd>京都府宮津市字中野58番地の1</dd>
            </dl>
            <dl>
                <dt>応募方法</dt>
                <dd>お問い合わせ後、履歴書（写貼）をご持参ください。</dd>
            </dl>
            <dl>
                <dt>応募先</dt>
                <dd>
                    <p>有限会社 瀬戸建設</p>
                    <p>〒629-2232 京都府宮津市字中野58番地の1</p>
                    <p>総務課　TEL.0772-27-0257</p>
                    <p>採用担当：瀬戸ゆかり</p>
                </dd>
            </dl>
            <div class="p-recruit-page__coment">
                <p>〈詳しいことは電話または、お問い合わせフォームにてお問い合せください。〉</p>
            </div>
        </div>
        <div class="p-recruit-page__btn">
            <a href="contact-page.html">お問い合わせよりご応募ください</a>
        </div>
    </div>
</div>

