<div class="p-service01">
    <div class="p-service01__inner">
        
        <!-- コンテンツ -->
        <div class="p-service01">
            <div class="p-service01__content">
                <div class="p-service01__text-box">
                    <div class="p-service01__title">
                        <h3>木造建築物解体工事</h3>
                    </div>
                    <div class="p-service01__sub-title">
                        <p>［小屋/一般木造住宅/木造アパート/店舗など］</p>
                    </div>
                    <div class="p-service01__text">
                        <p>近年、空き家の増加に伴い、ご依頼件数も増えつつある木造解体。
                            古い民家や店舗など、重機の入りにくい狭小地や建物が密集する環境下で解体
                            工事を行なう事が多く、足場組み、防音シート設置などの養生をしっかりと行
                            い、粉塵やホコリ、破片の飛散、騒音を最小限に抑えて作業を行います。
                            近隣の皆様への十分な配慮を大切に、様々な現場状況に応じて、熟練の作業員
                            が安全で効率の良い解体工法をご提案いたします。</p>
                    </div>
                </div>
                <figure class="p-service01__img">
                    <img src="images/common/service1.jpg" alt="">
                </figure>
            </div>
            <div class="p-service01__content">
                <div class="p-service01__text-box">
                    <div class="p-service01__title">
                        <h3>鉄骨・RC・SRC造解体工事</h3>
                    </div>
                    <div class="p-service01__sub-title">
                        <p>一般住宅/ビル/マンション/店舗/工場など］</p>
                    </div>
                    <div class="p-service01__text">
                        <p>S造（鉄骨造）、RC（鉄筋コンクリート造）、SRC（鉄骨鉄筋コンクリート造）など
                            鉄骨やコンクリートが使用された複雑な大型建造物の解体には特殊な重機を
                            使用する事もあり、工期も長くなり、木造解体よりも高度な解体計画、安全意
                            識、知識、経験が求められます。 振動や騒音を軽減するように養生シート設置
                            を徹底したり、重機の走行を低速にするなど近隣の方に安心していただけます
                            よう最善を尽くして工事を進めさせていただきます。</p>
                    </div>
                </div>
                <figure class="p-service01__img">
                    <img src="images/common/service2.JPG" alt="">
                </figure>
            </div>
            <div class="p-service01__content">
                <div class="p-service01__text-box">
                    <div class="p-service01__title">
                        <h3>内装解体工事</h3>
                    </div>
                    <div class="p-service01__sub-title">
                        <p>［住まいや店舗などのリフォーム前の解体工事］</p>
                    </div>
                    <div class="p-service01__text">
                        <p>主に店舗、オフィスなどのリフォーム前に行われる解体で、スケルトン解体と
                            も云われ、建物を全て解体してしまうのではなく、骨組みや構造部分を残し、
                            内装とその他設備だけを解体します。その他、一般住宅のリフォーム前に行う
                            「内装改修工事前の解体」や賃貸契約終了時の「原状回復工事」も承っておりま
                            す。まずは一度、お気軽にご相談下さい。</p>
                    </div>
                </div>
                <figure class="p-service01__img">
                    <img src="images/common/service3.jpg" alt="">
                </figure>
            </div>
            <div class="p-service01__content">
                <div class="p-service01__text-box">
                    <div class="p-service01__title">
                        <h3>外構撤去・樹木伐採伐根工事</h3>
                    </div>
                    <div class="p-service01__sub-title">
                        <p>［塀/フェンス/ブロック/カーポート/庭木など］</p>
                    </div>
                    <div class="p-service01__text">
                        <p>お庭のリフォームや空き地を駐車場にしたり所有地を譲渡される際に伴う、建
                            造物周辺の外構（フェンス、塀、ブロック、カーポートなど）やコンクリート、お
                            庭の庭木などの撤去工事、樹木の伐根工事も承っております。解体工事で出た
                            廃材等は可能な限りリサイクルし、残土や産業廃棄物などはしっかりと仕分け
                            して弊社が責任を持って処理させていただきます。</p>
                    </div>
                </div>
                <figure class="p-service01__img">
                    <img src="images/common/service4.jpg" alt="">
                </figure>
            </div>
        </div>
    </div>
</div>
