<div class="p-sub-hero--works p-sub-hero js-sub-hero">
    <div class="p-sub-hero__inner">
        <div class="p-sub-hero__img">
            <img src="images/common/sensible-top.jpg" alt="">
        </div>
        <div class="p-sub-hero__title">
            <%- include('../component/_c-section-title',{egTitle:'Sensible',jaTitle:'安心の施工体制'}) %>
        </div>
    </div>
</div>
