<!-- タイトル -->
<div class="p-sub-head--sensible p-sub-head">
    
    <div class="p-sub-head__title">
        <h2>安心の施工体制</h2>
    </div>
    <div class="p-sub-head__text">
        <p>私たちの業務は地域住民の皆さまのご協力の上に成り立っております。<br>
            施工技術、スタッフのマナー共々、日々、向上させご依頼者様や近隣の方々に<br>
            迷惑にならないように細心の注意を払って日々、施工を行っております。</p>
    </div>
</div>