<div class="p-service02">
    <div class="p-service02__inner">
        <div class="p-service02__contents">
            <!-- 1 -->
            <div class="p-service02__content">
                <div class="p-service02__text-box">
                    <div class="p-service02__title">
                        <h3>アスベスト（石綿）除去工事</h3>
                    </div>
                    <div class="p-service02__sub-title">
                        <p></p>
                    </div>
                    <div class="p-service02__text">
                        <p>アスベストは熱や摩擦に強く安価であるため、戦後から2006年まで輸入され、多くが建築資材等に利用されていました。しかし、肺がん、悪性中皮種、石綿肺など重篤な病気の原因物質であることが判明し、その処理が深刻な社会問題となっています。現在では、建物を解体する際には、事前にアスベスト調査、届出、除去が義務付けられ、その方法も法律により厳しく定められています。弊社ではアスベスト含有量調査から、状況に適した工法でのアスベスト除去、廃棄物の処分までワンストップでご提案させていただきます。
                        </p>
                    </div>
                </div>
                <figure class="p-service02__img">
                    <img src="images/common/servic02-1.JPG" alt="">
                </figure>
            </div>
            <!-- 2 -->
            <div class="p-service02__content-wrap">
                <div class="p-service02__content">
                    <div class="p-service02__text-box">
                        <div class="p-service02__title">
                            <h3><span>解体工事前/改修工事前</span>アスベスト調査・届出</h3>
                        </div>
                        <div class="p-service02__sub-title">
                            <p>「2021年4月から法改正によって解体工事を行う前に
                                アスベスト調査を行うことが義務化されたことをご存知ですか？」</p>
                        </div>
                        <div class="p-service02__text">
                            <p>一定規模（解体工事の場合は解体部分の延べ床面積80㎡、改修工事の場合は請負金額が100万円）の解体工事の着手前には都道府県、政令市などへの有資格者（建築物石綿含有建材調査者）によるアスベスト調査および届出が義務化されました。
                                建造物の細部に使用されるアスベスト含有建材も見つけ出す必要があるため、難易度も高く、知識と経験が必要とされる調査になります。弊社では現地調査でトレーニングを積んだ、公的な専門資格者が責任を持って調査・試料採取・分析を実施しております。
                            </p>
                        </div>
                    </div>
                    <figure class="p-service02__img">
                        <img src="images/common/asbest.jpg" alt="">
                    </figure>
                </div>
                <div class="p-service02__text02">
                    <p>弊社には<span>建築物石綿含有建材調査者</span>が在籍しております。事前調査および調査報告書作成を承っております。</p>
                </div>
            </div>
            <!-- 3 -->
            <div class="p-service02__content">
                <div class="p-service02__text-box">
                    <div class="p-service02__title">
                        <h3>工業用設備等の特殊解体工事</h3>
                    </div>
                    <div class="p-service02__sub-title">
                        <p>[タンク/ボイラー/プラント/煙突/焼却炉など］</p>
                    </div>
                    <div class="p-service02__text">
                        <p>ダイオキシンをはじめ危険物や毒劇物を取り扱う工業用設備の解体は非常に難易度が高く、高度な技術とコンプライアンスの観点から、廃棄物処理まで適切な対応が求められます。非常に重量がある部材を取り扱う為、レッカー使用時の落下防止や切断時の火花発生による火災防止など徹底した事故発生時をも予測した上、確かな安全管理を協力業者との密に連携を行い調査、計画、解体施工を進めております。
                        </p>
                    </div>
                </div>
                <figure class="p-service02__img">
                    <img src="images/common/service02-2.JPG" alt="">
                </figure>
            </div>
            <!-- 4 -->
            <div class="p-service02__content">
                <div class="p-service02__text-box">
                    <div class="p-service02__title">
                        <h3>ダイオキシン類対策工事</h3>
                    </div>
                    <div class="p-service02__sub-title">
                        <p>「事前調査、対策工事の厳しい法規制を守り、正しい解体を…」</p>
                    </div>
                    <div class="p-service02__text">
                        <p>ダイオキシン類は、廃棄物の焼却の際に自然に生成してしまう物質で、環境中には広く存在し、その量も非常にわずかな為、日常生活においては余り神経質になる必要はないと思われます。但し、ごみ処理場や工場などの煙突や焼却炉内部は人々に害を及ぼす量の汚染が予測される為、解体する際には、ばく露防止措置を徹底する必要があります。弊社では安衛法及び「廃棄物焼却施設内作業におけるダイオキシン類
                            ばく露防止対策要綱」に基づいて有資格者で経験豊富なスタッフが工期計画を立て廃棄物の運搬・処分まで責任を持って施工させていただきます。</p>
                    </div>
                </div>
                <figure class="p-service02__img">
                    <img src="images/common/service02-3.jpg" alt="">
                </figure>
            </div>
            <!-- 5  -->
            <div class="p-service02__content">
                <div class="p-service02__text-box">
                    <div class="p-service02__title">
                        <h3>船舶解体工事</h3>
                    </div>
                    <div class="p-service02__sub-title">
                        <p>［木造船/FRP造船/鉄鋼造船/プレジャーボートなど］</p>
                    </div>
                    <div class="p-service02__text">
                        <p>廃船の解体作業は特殊な技術と経験が必要となる分野ですが、事業開設当初より、宮津という土地柄も含め、近港の漁船を主に船舶解体に携わらせて頂き、豊富な知識と実績を積み重ねて参りました。近年は年間およそ1万隻が廃船時期を迎えると推測されるFRP船も産業廃棄物中間処理の許可を生かし積極的に引き受けております。解体後の徹底した分別解体、部品の再利用や、、廃棄物処理までトータルで請け負っております。
                        </p>
                    </div>
                </div>
                <figure class="p-service02__img">
                    <img src="images/common/service02-4.jpg" alt="">
                </figure>
            </div>
        </div>
    </div>
</div>