
<div class="tabContent">
    <input id="TAB01" type="radio" name="tab" checked="checked">
    <label class="tabContent__label" for="TAB01">タブ1</label>
    <div class="tabContent__main">
        <p>タブ1の内容が表示されます。</p>
    </div>
    <input id="TAB02" type="radio" name="tab">
    <label class="tabContent__label" for="TAB02">タブ2</label>
    <div class="tabContent__main">
        <p>タブ2の内容が表示されます。</p>
    </div>
    <input id="TAB03" type="radio" name="tab">
    <label class="tabContent__label" for="TAB03">タブ3</label>
    <div class="tabContent__main">
        <p>タブ3の内容が表示されます。</p>
    </div>
</div>