<!-- タイトル -->
<div class="p-sub-head--service01 p-sub-head">
    <div class="p-sub-head__icon">
        <img src="images/common/service-icon01.png" alt="">
    </div>
    <div class="p-sub-head__title">
        <h2>建造物の解体業務</h2>
    </div>
    <div class="p-sub-head__text">
        <p>時代の変化、生活の移り変わりに必要とされる一般解体工事。<br>
            わたしたちが日頃、請け負っている解体業務のご紹介です。</p>
    </div>
</div>