<div class="p-sub-hero--works p-sub-hero">
    <div class="p-sub-hero__inner">
        <div class="p-sub-hero__img">
            <img src="images/common/works-top.jpg" alt="">
        </div>
        <div class="p-sub-hero__title">
            <%- include('../component/_c-section-title',{egTitle:'Works',jaTitle:'施工事例'}) %>
        </div>
    </div>
</div>
