<!-- タイトル -->
<div class="p-sub-head--sensible p-sub-head">
    
    <div class="p-sub-head__title">
        <h2>「有限会社 瀬戸建設は一緒に<br>
            働いてくれる方を募集しております。」</h2>
    </div>
    <div class="p-sub-head__text">
        <p>経験者はもちろんのこと未経験者も大歓迎です。職場の年齢層は若いので元気があって活気あり、<br>
            共に成長できる環境です。元気で明るく、前向きに何事にも真剣に取り組んで頂ける方大歓迎!</p>
    </div>
</div>