<div class="p-service03">
    <div class="p-service03__inner">
        <!-- タイトル -->
        <div class="p-service-title">
            <div class="p-service-title__icon">
                <img src="images/common/service-icon01.png" alt="">
            </div>
            <div class="p-service-title__title">
                <h2>建造物の解体業務</h2>
            </div>
            <div class="p-service-title__text">
                <p>時代の変化、生活の移り変わりに必要とされる一般解体工事。<br>
                    わたしたちが日頃、請け負っている解体業務のご紹介です。</p>
            </div>
        </div>
        
        <div class="p-service03__contents">
            <div class="p-service03__content">
                <div class="p-service03__text-box">
                    <div class="p-service03__title">
                        <h3>残土（建設発生土）の処理</h3>
                    </div>
                    <div class="p-service03__text">
                        <p>残土は正式名称を建設発生土と云い、建造物の解体後に土地を整地する際などに発生する不要な土のことです。残土処理はただ運搬し、土捨て場で処分するだけではなく、様々な手続きが必要です。特に産業廃棄物に該当するものが混入している場合は、自社処分場でそれを取り除き分別した後、保管および管理が必要ですので、行政指導のもと計画を順守し、埋立処分を行います。</p>
                    </div>
                    <div class="p-service03__text02">
                        <p>残土処分場：京都府指定処分地/宮津市指定処分地</p>
                    </div>
                    <div class="p-service03__text03">
                        <p>※土砂条例による土壌調査の分析・測定報告書が必要となります。</p>
                    </div>
                </div>
                <figure class="p-service03__img">
                    <img src="images/common/service03-1.JPG" alt="">
                </figure>
            </div>
            <div class="p-service03__content">
                <div class="p-service03__text-box">
                    <div class="p-service03__title">
                        <h3>産業廃棄物の収集と運搬　</h3>
                    </div>
                    <div class="p-service03__text">
                        <p>解体工事によって発生する、瓦礫やコンクリート片や木材などの産業廃棄物処理には現在20種類以上の区分があり、様々な法令やマニフェスト制度などが絡み合っており大変複雑です。瀬戸建設では京都府、兵庫県、大阪市、福井県において産業廃棄物収集運搬業の許可を取得しており、廃棄物処理法および廃掃法に従った適切な処置手順を行っております。</p>
                    </div>
                    <ul>
                        <li>京都府産業廃棄物収集運搬業許可番号：02600165394号</li>
                        <li>兵庫県産業廃棄物収集運搬業許可番号：02808165394号</li>
                        <li>大阪府産業廃棄物収集運搬業許可番号：02700165394号</li>
                        <li>福井県産業廃棄物収集運搬業許可番号：01807165394号</li>
                    </ul>
                </div>
                <figure class="p-service03__img">
                    <img src="images/common/service03-2.jpg" alt="">
                </figure>
            </div>
            <div class="p-service03__content">
                <div class="p-service03__text-box">
                    <div class="p-service03__title">
                        <h3>室内物（残置物）の撤去処分</h3>
                    </div>
                    <div class="p-service03__text">
                        <p>建物の解体を行う際、取壊しによる構造体や残土の処分だけではなく、残置物や大型の家電、家具などの処分も請け負っております。コストを踏まえて、ゴミ類や小さな家電や家具などは依頼者様ご自身で分別され行政のサービスをご利用されることをお勧めさせていただいておりますが、大きくて運搬が困難な物や重たくて手に負えない物などは一度、お気軽にご相談ください。</p>
                    </div>
                </div>
                <figure class="p-service03__img">
                    <img src="images/common/service03-3.JPG" alt="">
                </figure>
            </div>
        </div>
    </div>
</div>