<div class="p-sdgs-layout" id="sensible">
    <div class="p-sdgs-layout__inner">
        <div class="p-sdgs-layout__declaration">
            <p>３つの<br class="u-mobile"> マナーを<br class="u-mobile">守ります。</p>
        </div>
        <!-- レイアウト -->
        <div class="p-sdgs-layout__contents">
            <div class="p-sdgs-layout__content">

                <figure class="p-sdgs-layout__img" >
                    <img src="images/common/sensible-img01.jpg" alt="">
                </figure>
                
                <div class="p-sdgs-layout__text-box" >
                    <div class="p-sdgs-layout__title">
                        <span>1.</span>
                        <p>安全第一の作業体制</p>
                    </div>
                    <div class="p-sdgs-layout__text">
                        <p>解体工事では、小さなミスでも大きな事故に繋がりかねません。
                            現場には関係者以外が立ち入り出来ないようにしっかりとバリ
                            ケードを設置し、事前に現場外の事前調査、車両の出入りの安全
                            確認を徹底し、通行のご迷惑や交通事故などが起こらないように
                            作業を進めております。</p>
                    </div>
                </div>

            </div>
            <div class="p-sdgs-layout__content">

                <figure class="p-sdgs-layout__img">
                    <img src="images/common/sensible-img02.jpg" alt="">
                </figure>
                
                <div class="p-sdgs-layout__text-box">
                    <div class="p-sdgs-layout__title">
                        <span>2.</span>
                        <p>近隣環境への配慮</p>
                    </div>
                    <div class="p-sdgs-layout__text">
                        <p>工事中はどうしても、騒音や振動などが伴います。
                            ご近隣の方へのご理解をお願いする為にも着工前
                            には必ず、ご挨拶と工事案内を配布して皆様が不安
                            にならないよう十分な説明を行いますのでご安心下
                            さい。また、作業員のマナーや礼儀指導も日頃から
                            徹底し現場近くを通行される方に不快な思いやご心
                            配をお掛けする事もございません。</p>
                    </div>
                </div>

            </div>
            <div class="p-sdgs-layout__content">

                <figure class="p-sdgs-layout__img">
                    <img src="images/common/sensible-img03.jpg" alt="">
                </figure>
                
                <div class="p-sdgs-layout__text-box">
                    <div class="p-sdgs-layout__title">
                        <span>3.</span>
                        <p>工事中の騒音・振動・粉塵対策</p>
                    </div>
                    <div class="p-sdgs-layout__text">
                        <p>埃や破片などが飛散しないように事前に養生足場を設置し、
                            解体中は高圧散水機を使用して粉塵を減少させます。また
                            、最新の低騒音に配慮された重機を採用して騒音および振
                            動対策を行っております。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>