<div class="p-senseble-sdgs">
    <div class="p-senseble-sdgs__inner">
        <div class="p-senseble-sdgs__title">
            <p>SDGsへの取り組み</p>
        </div>
        <div class="p-senseble-sdgs__sub-title">
            <p>「環境と人と社会に貢献する、私たちの取り組み」</p>
        </div>
        <div class="p-senseble-sdgs__logo">
            <img src="images/common/sensible-SDGs.png" alt="">
        </div>
        <div class="p-senseble-sdgs__text01">
            <p>持続可能な開発目標（Sustainable Development Goals：SDGs）は、
                2015年9月の国連サミットで加盟国の全会一致で採択された「持続可能な
                開発のための2030アジェンダ」において記載された17のゴールと169のタ
                ーゲットからなる2030年までの国際目標です。SDGsの詳細は<span>外務省（JAPAN 
                SDGs Action Platform）</span>をご確認下さい。</p>
        </div>
        <div class="p-senseble-sdgs__text02">
            <p>瀬戸建設は、SDGｓの趣旨に賛同しております。私たちにできることからSDGsを
                モットーに、身近なテーマを掲げて活動しております。ここではその中でも私た
                ちの業種と関わりの深いテーマをご紹介いたします。</p>
        </div>
        
        <!--icon*4  -->
        <div class="p-senseble-sdgs__contents">
            <div class="p-senseble-sdgs__content">
                <div class="p-senseble-sdgs__content-icon">
                    <img src="images/common/sensible-icon01.png" alt="">
                </div>
                <div class="p-senseble-sdgs__content-title">
                    <p>「すべての人に健康と福祉を」</p>
                </div>
                <div class="p-senseble-sdgs__content-text">
                    <p>解体時のアスベスト事前調査から既存建築物のアスベスト調査の普及活動
                        および安心、安全な除去施工を通し、環境汚染による死亡と疾病の件数
                        を減少させます。</p>
                </div>
            </div>

            <div class="p-senseble-sdgs__content">
                <div class="p-senseble-sdgs__content-icon">
                    <img src="images/common/sensible-icon02.png" alt="">
                </div>
                <div class="p-senseble-sdgs__content-title">
                    <p>「住み続けられるまちづくりを」</p>
                </div>
                <div class="p-senseble-sdgs__content-text">
                    <p>解体工事で発生する廃棄物の管理と適正な処理を行うことで、
                        環境上の悪影響の低減に取り組み、「包摂的で安全かつ強靱
                        で持続可能な都市及び人間居住を実現する」</p>
                </div>
                
            </div>
            <div class="p-senseble-sdgs__content">
                <div class="p-senseble-sdgs__content-icon">
                    <img src="images/common/sensible-icon03.png" alt="">
                </div>
                <div class="p-senseble-sdgs__content-title">
                    <p>「つくる責任 つかう責任」</p>
                </div>
                <div class="p-senseble-sdgs__content-text">
                    <p>木材、コンクリート、アスファルトなどの廃棄物の適正処理と
                        再利用を徹底し、天然資源の持続可能な消費と生産のサイクル
                        を確保し、管理及び効率的な利用を推進しています。</p>
                </div>
                
            </div>
            <div class="p-senseble-sdgs__content">
                <div class="p-senseble-sdgs__content-icon">
                    <img src="images/common/sensible-icon04.png" alt="">
                </div>
                <div class="p-senseble-sdgs__content-title">
                    <p>「気候変動に具体的な対策を」</p>
                </div>
                <div class="p-senseble-sdgs__content-text">
                    <p>行政とも連携して、持続可能な都市の未来空間を実現する為に空き
                        家対策やリサイクルを重視した適正な廃棄物処理を取り組んでいます。
                        また、低排出ガスの環境に配慮した車両・重機の積極的導入を行って
                        おります。</p>
                </div>
                
            </div>
        </div>

    </div>
</div>