<div class="p-sub-hero--recruit p-sub-hero">
    <div class="p-sub-hero__inner">
        <div class="p-sub-hero__img">
            <img src="images/common/recruit-top.jpg" alt="">
        </div>
        <div class="p-sub-hero__title">
            <%- include('../component/_c-section-title',{egTitle:'Recruit',jaTitle:'採用情報'}) %>
        </div>
    </div>
</div>
