<div class="p-sub-hero--news p-sub-hero">
    <div class="p-sub-hero__inner">
        <div class="p-sub-hero__img">
            <img src="images/common/news-top.jpg" alt="">
        </div>
        <div class="p-sub-hero__title">
            <%- include('../component/_c-section-title',{egTitle:'News',jaTitle:'新着情報'}) %>
        </div>
    </div>
</div>
