<div class="p-top-works">
    <div class="p-top-works__title">
        <%- include('../component/_c-section-title',{egTitle:'Works',jaTitle:'施工事例'}) %>
    </div>
    <div class="p-top-works__text">
        <p>これまで瀬戸建設が携わらせて頂いた、施工現場を一部、ご紹介させていただきます。</p>
    </div>
    <div class="p-top-works__cards">
        <%- include('../project/_p-works-cards') %>
    </div>
    <div class="p-top-works__btn">
        <%- include('../component/_c-btn',{text:'施工事例ページへ',link:'.html'}) %>
    </div>
</div>


