<div class="p-top-sensible js-top-sensible">
    <div class="p-top-sensible__inner l-inner">
        <div class="p-top-sensible__wrap js-top-sensible__wrap">
            <div class="p-top-sensible__title c-section-title--top">
                <%- include('../component/_c-section-title',{egTitle:'Sensible',jaTitle:'安心の施工体制'}) %>
            </div>
            <div class="p-top-sensible__sub-title">
                <p>安心に、安全に… 3つのマナーを守ります!</p>
            </div>
            <div class="p-top-sensible__text">
                <p>今、解体事業は変革期に立たされています。ただ単に壊す、処分するといった時代は随分前に過ぎ去り、地域の環境保全を担う存在として「美しい街作り」につながる住環境への配慮、住む人へのケアを心掛け「未来に活きる解体」を心掛けております。
                </p>
            </div>
        </div>
        <div class="p-top-sensible__cards">
            <%- include('../project/_p-top-sensible-contents') %>
        </div>
        <div class="p-top-sensible__btn">
            <%- include('../component/_c-btn',{text:'安心の施工体制',link:'sensible-page.html'}) %>
        </div>
    </div>
</div>