<div class="p-top-service-cards">
    <div class="p-top-service-card">
        <div class="p-top-service-card__img">
            <img src="images/common/service01.jpg" alt="">
        </div>
        <div class="p-top-service-card__content">
            <div class="p-top-service-card__icon">
                <img src="images/common/service-icon01.png" alt="">
            </div>
            <h2 class="p-top-service-card__title">建造物の解体業務</h2>
            <ul>
                <li>木造（一般住宅・集合住宅など）</li>
                <li>鉄骨・RC・SRC（ビル・店舗など）</li>
                <li>内装解体（リフォーム前）</li>
                <li>外構撤去・樹木伐採 伐根工事</li>
            </ul>
            <div class="button">
                <%- include('../component/_c-btn--white',{text:'詳しくはコチラ',link:'service-page01.html'}) %>
            </div>
        </div>
    </div>
    <div class="p-top-service-card">
        <div class="p-top-service-card__img">
            <img src="images/common/service02.jpg" alt="">
        </div>
        <div class="p-top-service-card__content">
            <div class="p-top-service-card__icon">
                <img src="images/common/service-icon02.png" alt="">
            </div>
            <h2 class="p-top-service-card__title">建造物の解体業務</h2>
            <ul>
                <li>残土処理アスベスト事前調査・除去工事</li>
                <li>工業設備等の特殊解体工事</li>
                <li>ダイオキシン類対策工事</li>
                <li>船舶解体</li>
            </ul>
            <div class="button">
                <%- include('../component/_c-btn--white',{text:'詳しくはこちら',link:'service-page02.html'}) %>
            </div>
        </div>
    </div>
    <div class="p-top-service-card">
        <div class="p-top-service-card__img">
            <img src="images/common/service03.jpg" alt="">
        </div>
        <div class="p-top-service-card__content">
            <div class="p-top-service-card__icon">
                <img src="images/common/service-icon03.png" alt="">
            </div>
            <h2 class="p-top-service-card__title">建造物の解体業務</h2>
            <ul>
                <li>残土処理</li>
                <li>産業廃棄物処分</li>
                <li>室内物撤去処分</li>
            </ul>
            <div class="button">
                <%- include('../component/_c-btn--white',{text:'詳しくはこちら',link:'service-page03.html'}) %>
            </div>
        </div>
    </div>
</div>