<div class="p-top-service-cards">
    <div class="p-top-service-card">
        <div class="p-top-service-card__img">
            <img src="images/common/service01.jpg" alt="">
        </div>
        <div class="p-top-service-card__content">
            <div class="p-top-service-card__icon">
                <img src="images/common/service-icon01.png" alt="">
            </div>
            <h2 class="p-top-service-card__title">建造物の解体業務</h2>
            <ul>
                <li>木造（一般住宅・集合住宅など）</li>
                <li>鉄骨・RC・SRC（ビル・店舗など）</li>
                <li>内装解体（リフォーム前）</li>
                <li>外構撤去・樹木伐採 伐根工事</li>
            </ul>
            <div class="button">
                <%- include('../component/_c-btn--white',{text:'詳しくはコチラ',link:'recruit.html'}) %>
            </div>
        </div>
    </div>
    <div class="p-top-service-card">
        <div class="p-top-service-card__img">
            <img src="images/common/service02.jpg" alt="">
        </div>
        <div class="p-top-service-card__content">
            <div class="p-top-service-card__icon">
                <img src="images/common/service-icon02.png" alt="">
            </div>
            <h2 class="p-top-service-card__title">建造物の解体業務</h2>
            <ul>
                <li>木造（一般住宅・集合住宅など）</li>
                <li>鉄骨・RC・SRC（ビル・店舗など）</li>
                <li>内装解体（リフォーム前）</li>
                <li>外構撤去・樹木伐採 伐根工事</li>
            </ul>
            <div class="button">
                <%- include('../component/_c-btn--white',{text:'詳しくはこちら',link:'recruit.html'}) %>
            </div>
        </div>
    </div>
    <div class="p-top-service-card">
        <div class="p-top-service-card__img">
            <img src="images/common/service03.jpg" alt="">
        </div>
        <div class="p-top-service-card__content">
            <div class="p-top-service-card__icon">
                <img src="images/common/service-icon03.png" alt="">
            </div>
            <h2 class="p-top-service-card__title">建造物の解体業務</h2>
            <ul>
                <li>木造（一般住宅・集合住宅など）</li>
                <li>鉄骨・RC・SRC（ビル・店舗など）</li>
                <li>内装解体（リフォーム前）</li>
                <li>外構撤去・樹木伐採 伐根工事</li>
            </ul>
            <div class="button">
                <%- include('../component/_c-btn--white',{text:'詳しくはこちら',link:'recruit.html'}) %>
            </div>
        </div>
    </div>
</div>