<div class="p-top-about">
    <div class="p-top-about__img">
        <img src="images/common/about.jpg" alt="">
    </div>
    <div class="p-top-about__title">
        <%- include('../component/_c-section-title',{egTitle:'About',jaTitle:'瀬戸建設について'}) %>
        
    </div>
    <div class="p-top-about__sub-title">
        <p>「未来に活きる解体」を通して、<br>
            地域の環境保全に貢献する</p>
    </div>
    <div class="p-top-about__text">
        <p>京都府北部 宮津を拠点に創業して五十年余
            地元 宮津市はもちろん、近隣の与謝郡、京丹後市、福知山市、舞鶴市、兵庫県、<br>
            福井県など北近畿、関西圏にわたり、総合解体工事業者として様々な解体事業<br>
            に携わってまいりました。常に理想の街づくりへ、私たちができることを想い<br>
            描き、従業員一同、マナーの徹底を心掛け、安心な暮らしの基盤となる地域の<br>
            環境保全に貢献してまいります。</p>
    </div>
    <div class="p-top-about__btn">
        <%- include('../component/_c-btn',{text:'瀬戸建設について',link:'about.html'}) %>

    </div>

</div>