<div class="p-top-sensible-contents js-top-sensible-contents">
    <div class="p-top-sensible-content js-top-sensible-content">
        <div class="p-top-sensible-img">
            <img src="images/common/sensible01.jpg" alt="">
        </div>
        <p class="p-top-sensible-img__title">
            <span>1.</span>安全第一の作業体制
        </p>
    </div>
    <div class="p-top-sensible-content js-top-sensible-content">
        <div class="p-top-sensible-img">
            <img src="images/common/sensible02.jpg" alt="">
        </div>
        <p class="p-top-sensible-img__title">
            <span>2.</span>近隣環境への配慮
        </p>
    </div>
    <div class="p-top-sensible-content js-top-sensible-content">
        <div class="p-top-sensible-img">
            <img src="images/common/sensible03.jpg" alt="">
        </div>
        <p class="p-top-sensible-img__title">
            <span>3.</span>騒音・振動・粉塵対策
        </p>
    </div>
</div>
