<div class="p-top-asbest l-inner js-top-asbest">
    <figure class="p-top-asbest__img js-top-asbest__img">
        <img src="images/common/asbest.jpg" alt="">
    </figure>
    <div class="p-top-asbest__text-box js-top-asbest__text-box">
        <div class="p-top-asbest__title">建造物の解体工事の際は、<br class="u-mobile"><span>「アスベスト事前調査・届出」<br class="u-mobile">が必要です！</span></div>
        <div class="p-top-asbest__text">2022年4月から、法改正により石綿の含有の可能性がある建材を
            リフォーム工事により撤去する際に、事前に資格者（建築物石綿含有建材調査者）による「石綿調査」と「石綿の有無について報告」
            を最寄りの労働基準監督署へ提出が必要になりました。弊社では、アスベストに関する事前調査、調査報告、アスベスト除去工事を
            ワンストップでご提供しております。</div>
        <div class="p-top-asbest__border-text">弊社には<span>建築物石綿含有建材調査者</span>が在籍しております。<br class="u-mobile">
            事前調査および調査報告書作成を承っております。</div>
        <div class="p-top-asbest__btn">
            <%- include('../component/_c-btn',{text:'詳しくはコチラ',link:'service-page02.html'}) %>
        </div>
    </div>
</div>

