<div class="p-top-recruit">
    <div class="p-top-recruit__en-title">
        <span>Recruit</span>
    </div>
    <div class="p-top-recruit__ja-title">
        <p>未経験者も大歓迎！正社員募集中</p>
    </div>
    <div class="p-top-recruit__text">
        <p>瀬戸建設では、わたしたちと一緒に働いて下さる方を
            募集しております。詳細はお気軽にお問い合わせ下さい！</p>
    </div>
    <div class="p-top-recruit__btn">
    <%- include('../component/_c-btn',{text:'採用情報ページ',link:'recruit.html'}) %>
        
    </div>
</div>