<div class="p-top-service l-inner">
    <div class="p-top-service__wrap js-service-animation">
        <div class="p-top-service__title c-section-title--top ">
            <%- include('../component/_c-section-title',{egTitle:'Service',jaTitle:'業務案内'}) %>
        </div>
        <div class="p-top-service__sub-title ">
            <p>犬小屋解体からビル解体工事、特殊解体までお任せ下さい！</p>
        </div>
        <div class="p-top-service__text">
            <p>瀬戸建設は「総合解体企業」として規模に関わらず、フェンスや樹木の撤去、小屋や一般家屋、<br class="u-mobile">
                ビルやマンション等の解体はもちろん、アスベスト除去や船舶などの特殊解体、廃棄物処理、<br class="u-mobile">
                残土処理も承っております。</p>
        </div>
    </div>
    <div class="p-top-service__cards">
        <%- include('../project/_p-top-service-cards') %>
    </div>
</div>
