<div class="_p-top-news-items">
    <div class="p-top-news-item">
        <div class="p-top-news-item__date">
            <span>2022.9.18</span>
        </div>
        <div class="p-top-news-item__title">
            <p>ホームページが完成しました。</p>
        </div>
        <div class="p-top-news-item__more">
            <a href="">詳しいはコチラ</a>
        </div>
    </div>
</div>