<div class="p-works-cards">
    <div class="p-works-card__content">
        <div class="p-works-card__img">
            <img src="images/common/works.jpg" alt="">
        </div>
        <div class="p-works-card__meta">
            <span class="date">2022.2</span>
            <p>宮津市 岩滝会館</p>
        </div>
        <div class="p-works-card__subtitle">鉄骨造 解体工事</div>
        <div class="p-works-card__btn">
            <%- include('../component/_c-btn--more',{text:'Read More',link:'contact.html'}) %>
        </div>
    </div>
    <div class="p-works-card__content">
        <div class="p-works-card__img">
            <img src="images/common/works.jpg" alt="">
        </div>
        <div class="p-works-card__meta">
            <span class="date">2022.2</span>
            <p>宮津市 岩滝会館</p>
        </div>
        <div class="p-works-card__subtitle">鉄骨造 解体工事</div>
        <div class="p-works-card__btn">
            <%- include('../component/_c-btn--more',{text:'Read More',link:'contact.html'}) %>
        </div>
    </div>
    <div class="p-works-card__content">
        <div class="p-works-card__img">
            <img src="images/common/works.jpg" alt="">
        </div>
        <div class="p-works-card__meta">
            <span class="date">2022.2</span>
            <p>宮津市 岩滝会館</p>
        </div>
        <div class="p-works-card__subtitle">鉄骨造 解体工事</div>
        <div class="p-works-card__btn">
            <%- include('../component/_c-btn--more',{text:'Read More',link:'contact.html'}) %>
        </div>
    </div>
    <div class="p-works-card__content">
        <div class="p-works-card__img">
            <img src="images/common/works.jpg" alt="">
        </div>
        <div class="p-works-card__meta">
            <span class="date">2022.2</span>
            <p>宮津市 岩滝会館</p>
        </div>
        <div class="p-works-card__subtitle">鉄骨造 解体工事</div>
        <div class="p-works-card__btn">
            <%- include('../component/_c-btn--more',{text:'Read More',link:'contact.html'}) %>
        </div>
    </div>
</div>