<div class="p-works-single">
    <div class="p-works-single__inner l-inner">
        <%- include('../component/_c-section-title',{egTitle:'Works',jaTitle:'施工事例'}) %>

        <div class="p-works-single__meta">
                <span class="p-works-single__tag">鉄骨造 解体工事</span>
                <span class="p-works-single__date">2018.2</span>
                <div class="p-works-single__title">
                    <p>宮津市 岩滝会館</p>
                </div>
            
        </div>
        <!-- slider -->
        <div class="swiper mySwiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/common/works01.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/common/works01.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/common/works01.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/common/works01.jpg" alt="">
                </div>

            </div>
        </div>
        <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/common/works01.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/common/works01.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/common/works01.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/common/works01.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- slider end -->
        
        <div class="p-works-single__text">
            <p>建物解体とお庭の樹木伐採伐根及び灯篭等撤去させていただきました。解体後敷地も広くなり、きれいに山土を入れ敷き均し完成しました。</p>
        </div>
        <div class="p-works-single__btn">
        <%- include('../component/_c-btn',{text:'一覧ページへ',link:'works-archive.html'}) %>
            
        </div>
    </div>
    
</div>

