<div class="c-header-nav">
    <ul>
        <li class="c-header-nav__item"><a href="#">News</a></li>
        <li class="c-header-nav__item"><a href="#">業務内容</a>
            <div class="c-header-nav__child">
                <ul>
                    <div class="c-header-nav__child-title">
                        <p>Service</p>
                    </div>
    
                    <div class="c-header-nav__child-items">
                        <li class="c-header-nav__child-service-item01"><a href="#">建造物の解体業務</a></li>
                        <li class="c-header-nav__child-service-item02"><a href="#">特殊解体業務</a></li>
                        <li class="c-header-nav__child-service-item03"><a href="#">残土処理・廃棄物等処分</a></li>
                    </div>
                </ul>
            </div>
        </li>
    
    
        <li class="c-header-nav__item"><a href="#">安心の施工体制</a>
            <div class="c-header-nav__child">
                <ul>
                    <div class="c-header-nav__child-title">
                        <p>Sensible</p>
                    </div>
    
                    <div class="c-header-nav__child-items">
                        <li class="c-header-nav__child-sensible-item01"><a href="#">安心の施工体制</a></li>
                        <li class="c-header-nav__child-sensible-item02"><a href="#">SDGsへの取り組み</a></li>
                
                    </div>
                </ul>
            </div>
        </li>
        <li class="c-header-nav__item"><a href="#">施工事例</a></li>
        <li class="c-header-nav__item"><a href="#">瀬戸建設について</a></li>
        <li class="c-header-nav__item"><a href="#">Recruit</a></li>
    </ul>

</div>