<div class="c-header-nav">
    <ul>
        <li class="c-header-nav__item"><a href="#">News</a></li>
        <li class="c-header-nav__item"><a href="#">業務内容</a>
            <div class="c-header-nav__child">
                <ul>
                    <div class="c-header-nav__child-title">
                        <p>Service</p>
                    </div>
    
                    <div class="c-header-nav__child-item">
                        <li><a href="#">建造物の解体業務</a></li>
                        <li><a href="#">特殊解体業務</a></li>
                        <li><a href="#">残土処理・廃棄物等処分</a></li>
                    </div>
                </ul>
            </div>
        </li>
    
    
        <li class="c-header-nav__item"><a href="#">安心の施工体制</a></li>
        <li class="c-header-nav__item"><a href="#">施工事例</a></li>
        <li class="c-header-nav__item"><a href="#">瀬戸建設について</a></li>
        <li class="c-header-nav__item"><a href="#">Recruit</a></li>
    </ul>

</div>