<ul class="c-header-nav">
    <li class="c-header-nav__item"><a href="#">News</a></li>
    <li class="c-header-nav__item"><a href="#">業務内容</a></li>
    <li class="c-header-nav__item"><a href="#">安心の施工体制</a></li>
    <li class="c-header-nav__item"><a href="#">施工事例</a></li>
    <li class="c-header-nav__item"><a href="#">瀬戸建設について</a></li>
    <li class="c-header-nav__item"><a href="#">Recruit</a></li>
</ul>