<ul class="c-header-nav">
    <li class="c-header-nav__item"><a href="#">News</a></li>
    <li class="c-header-nav__item"><a href="#">業務内容</a></li>
        <ul>
            <div class="c-hesder-nav__child-title">
                <p>Service</p>
            </div>
            <li><a href="#">建造物の解体業務</a></li>
            <li><a href="#">特殊解体業務</a></li>
            <li><a href="#">残土処理・廃棄物等処分</a></li>
        </ul>
    <li class="c-header-nav__item"><a href="#">安心の施工体制</a></li>
    <li class="c-header-nav__item"><a href="#">施工事例</a></li>
    <li class="c-header-nav__item"><a href="#">瀬戸建設について</a></li>
    <li class="c-header-nav__item"><a href="#">Recruit</a></li>
</ul>