<div class="c-subhero">
    <div class="c-subhero__img">
        <img src="images/common/works-top.jpg" alt="">
    </div>
    <div class="c-subhero__title">
        <%- include('../component/_c-section-title',{egTitle:'Works',jaTitle:'施工事例'}) %>
        
    </div>
</div>